<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="filterModalLabel">Filtres</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form name="type_filter_form" method="get" class="form">
					<div class="row" id="type_filter_form">
						<div class="col-md-6 mb-3">
							<label class="form-label" for="type_filter_form_order">Order</label>
							<select id="type_filter_form_order" name="type_filter_form[order]" class="form-select rounded-3">
								<option value=""></option>
								<option value="label">Label</option>
								<option value="createdAt">Date de création</option>
								<option value="updatedAt" selected="selected">Date de mise à jour</option>
							</select>
						</div>

						<div class="col-md-6 mb-3">
							<label class="form-label" for="type_filter_form_direction">Direction</label>
							<select id="type_filter_form_direction" name="type_filter_form[direction]" class="form-select rounded-3">
								<option value=""></option>
								<option value="ASC" selected="selected">Croissant</option>
								<option value="DESC">Décroissant</option>
							</select>
						</div>
					</div>

					<input
					type="hidden" id="type_filter_form__token" name="type_filter_form[_token]" value="2dce459b.RxVWdPv7ZiJ3MnVReD7DDKZuA1yTu3OBMPtwFmDFNz0.fixgBbWsIFgBYgQBD3GQPexdaGXeiQDpQZIKLxmjTn8-bTgHkaMxUSZZAg">

					<button type="submit" class="btn btn-primary rounded-3">
						Rechercher
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
