<div class="card mb-3 p-3">
    <h2>Filtres</h2>
    {{ form_start(filters) }}
    {{ form_widget(filters) }}
    <button type="submit" class="btn btn-primary">
        Rechercher
    </button>
    {{ form_end(filters) }}
</div>