{% extends 'base.html.twig' %}

{% block title %}Les types{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h1>Les types ({{ types.totalItemCount }})</h1>
		<hr/>
		<div class="d-flex justify-content-between align-items-center mb-3">
			<a class="btn btn-secondary" href="{{ path('app.types.create') }}">Ajouter un type</a>
			<button type="button" class="btn btn-custom-filter" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<i class="bi bi-funnel-fill"></i>
			</button>
		</div>

		<section class="py-3">
			{% include 'backend/type/_list.html.twig' with { 'types': types } %}
		</section>
	</div>
{% endblock %}