{% extends 'base.html.twig' %}

{% block title %}{{ type.label }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% include 'backend/type/_card.html.twig' with { type: type, full: true } %}
    </div>
{% endblock %}

