<h1>Bonjour veuillez confirmer votre adresse email</h1>

<p>
    Confirmer votre adresse email en cliquant sur le lien suivant:
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
