{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>ESGI EVENTS</h1>
    <section class="py-3">
        <div class="row">
            <div class="col">
                <p class="lead">Bienvenue sur esgi events</p>
            </div>
        </div>
    </section>
{% endblock %}
