<footer class="mt-5">
    <div class="container py-4 border-top">
        <div class="row">
            <div class="col-12 col-md text-md-left text-center mb-3">
                <p>© 2023 LIBRARY-ESGI, Inc. All rights reserved.</p>
            </div>
            <div class="col-12 col-md text-md-right text-center">
                <ul class="list-unstyled d-flex justify-content-center justify-content-md-end">
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
