{% extends 'base.html.twig' %}

{% block title %}Ajouter un match{% endblock %}

{% block body %}
    <div class="container mt-3">

    <h1>Ajouter un match</h1>
    <section class="py-3">
        {% include('frontend/event/_form.html.twig') %}
    </section>

    <section class="py-3">
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" href="{{ path('app.events') }}">Retour à la liste</a>
            </div>
        </div>
    </section>
    </div>

{% endblock %}