{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    {% include 'frontend/event/_card.html.twig' with { event: event, full: true } %}
    <section class="mt-3">
        <h2> Les participants ({{ event.eventParticipations|length }})</h2>
        {% if app.user == event.organizer or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href="{{ path('app.events.add', { id: event.id }) }}">Ajouter un participant</a>
        {% endif %}
        {% for eventParticipation in event.eventParticipations %}
            {% include 'frontend/event_participation/_card.html.twig' with { eventParticipation: eventParticipation } %}
        {% endfor %}
    </section>
{% endblock %}

