<form method="post" action="{{ path('app.profiles.delete', {'id': profile.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette type ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id) }}">
	<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
</form>
