{% extends 'base.html.twig' %}

{% block title %}Ajouter un profile{% endblock %}

{% block body %}
    <h1>Ajouter un profile</h1>
    <section class="py-3">
        {% include('frontend/profile/_form.html.twig') %}
    </section>

    <section class="py-3">
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" href="{{ path('app.profiles') }}">Retour à la liste</a>
            </div>
        </div>
    <section class="py-3">
{% endblock %}