{% extends 'base.html.twig' %}

{% block title %}Les profiles{% endblock %}

{% block body %}
    <h1>Les profiles ({{ profiles.totalItemCount  }})</h1>
    <section class="py-3">
        {% include 'frontend/profile/_list.html.twig' with { profiles: profiles } %}
    </section>
{% endblock %}
