{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h1>Les utilisateurs ({{ profiles.totalItemCount }})</h1>
			<button type="button" class="btn btn-custom-filter" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<i class="bi bi-funnel-fill"></i>
			</button>
		</div>
		<hr/>

		{% include 'frontend/profile/_modal_filter.html.twig' %}

		<section class="py-3">
			{% include 'frontend/profile/_list.html.twig' with { profiles: profiles } %}
		</section>
	</div>
{% endblock %}
