<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            {% if eventParticipation.user %}
                    <a href="{{ path('app.profiles.show', { 'id': eventParticipation.user.id }) }}" class="card-text">{{ eventParticipation.user.username }}</a>
            {% else %}
                {{ eventParticipation.fullname }}
            {% endif %}
            {% if eventParticipation.banned %}
                <span class="text-danger">(Banni)</span>
            {% endif %}
        </h5>
        <div class="d-flex gap-2">
            {% if app.user == eventParticipation.event.organizer or is_granted('ROLE_ADMIN') %}
                {%  if eventParticipation.user != null %}
                    {% include('frontend/event_participation/_banForm.html.twig') %}
                {% endif %}
                {% if eventParticipation.fullname != null %}
                    <a href="{{ path('app.event_participation.edit', { 'id': eventParticipation.id }) }}" class="btn btn-primary">Edit</a>
                {% endif %}
                {% include('frontend/event_participation/_deleteForm.html.twig') %}
            {% endif %}
        </div>
    </div>
</div>