{% extends 'base.html.twig' %}

{% block title %}Ajouter un matchParticipation{% endblock %}

{% block body %}
    <h1>Ajouter un matchParticipation</h1>
    <section class="py-3">
        {% include('frontend/event_participation/_form.html.twig') %}
    </section>
{% endblock %}