{% extends 'base.html.twig' %}

{% block title %}Modifier le participant : {{ eventParticipation.id }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Modifier le participant : {{ eventParticipation.id }}</h1>
        <section class="py-3">
            {% include('frontend/event_participation/_form.html.twig') with {'button_label': 'Modifier'} %}
        </section>
    </div>
{% endblock %}