<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | LOF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-vh-100 d-flex flex-column">
        {% include 'layouts/_header.html.twig' %}
        <main class="flex-grow-1">
            <div>
                {% block body %}{% endblock %}
            </div>
        </main>
        <aside>
            {% include 'layouts/_toasts.html.twig' %}
        </aside>
        {% include 'layouts/_footer.html.twig' %}
    </body>

</html>
